body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Canvas */
.bg-white {
  background: white;
}
.button-container {
  position: absolute;
}
#canvas-1 {
  cursor: none;
  border: 1px solid;
  height: 400px;
  width: 400px;
}
#pointer {
  position: absolute;
  pointer-events: none;
  user-select: none;
  width: 21px;
  height: 21px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: var(--brdr);
  column-rule-style: solid;
  column-rule-color: var(--bg-panel);
}
.black {
  width: 20px;
  height: 20px;
  background: black;
}
.red {
  width: 20px;
  height: 20px;
  background: red;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar-long {
  background-color: black;
  height: 1px;
  width: 40px;
  margin: 10px;
}
.menubar-short {
  background-color: black;
  height: 1px;
  width: 30px;
  margin: 10px;
}
.social {
  margin-left: 20px;
}

/* Sidebar */
.sidebar-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sidebar-option {
  list-style: none;
  height: 3px;
  width: 30px;
  margin: 40px;
}
.sidebar-link {
  background-color: black;
  display: block;
  height: 100%;
  width: 30px;
  transition: 0.3s;
}
.sidebar-link--active {
  width: 50px;
}
